# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.log

# Virtual environment
venv/
env/
.venv/

# Streamlit / local files
.streamlit/

# Exported simulation results
exports/

# Jupyter Notebooks checkpoints (if any)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
